@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://carlpaton.github.io/2019/09/aws-elastic-container-service-stack-overview/" target="_blank">Elastic Container Service Stack Overview</a>.</p>
</div>
